@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth !important;
}

html,
body {
  background-color: #f5f7fb;
}

.scroll_bar_hidden::-webkit-scrollbar {
  display: none;
}

/* Styling for funnel graph labels */
.svg-funnel-js
  .svg-funnel-js__labels
  .svg-funnel-js__label:hover
  .label__segment-percentages {
  opacity: 0;
}

.svg-funnel-js .svg-funnel-js__labels .svg-funnel-js__label .label__title {
  font-size: 14px;
  font-weight: 500;
  color: #878787;
}

/* Styling for funnel graph */
.funnel .svg-funnel-js,
.svg-funnel-js svg {
  width: 100%;
}

.svg-funnel-js:not(.svg-funnel-js--vertical)
  .svg-funnel-js__label:not(:first-child) {
  border-left: 1px solid #ededed;
}

.svg-funnel-js__label {
  visibility: hidden;
}

/* Vue component styles */
.report_chart .apexcharts-legend.apx-legend-position-bottom {
  /* Custom legend styles */
  top: -40px !important;
  height: 20px;
  z-index: 100;
  left: 100px !important;
}

.report_chart .apexcharts-canvas foreignObject,
.report_chart .apexcharts-svg {
  /* Custom canvas and svg styles */
  overflow: visible !important;
}

.report_chart .apexcharts-toolbar {
  /* Hide chart toolbar */
  display: none !important;
}

.apexcharts-yaxis {
  /* Adjust y-axis position */
  transform: translateX(-15px);
  opacity: 70%;
}

.apexcharts-xaxis {
  /* Adjust x-axis opacity */
  opacity: 70%;
}
/* table popup */
.table_popup .ring-1 {
  overflow: visible !important;
  border-width: 0px !important;
}
@media (max-width: 1280px) {
  /* Responsive styles for smaller screens */
  .report_chart .apexcharts-legend.apx-legend-position-bottom {
    top: auto !important;
    left: 0 !important;
  }
}



input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 14px;
  height: 14px;
  border: 1px solid #8B83BA;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: flex;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
outline: max(-34px, 0.15em) solid #6D5BD0;
  outline-offset: max(-4px, -8.85em);
    border: 0.15em solid #6D5BD0;
}
